{% extends 'base.html' %} {% block title %}Contact{% endblock %} {% block head %}
<script src="https://www.google.com/recaptcha/api.js" async defer>

</script>
{% endblock %} {% block content %}
<h1>Contact Me</h1>
<div class="card container">
	<p>Want to send me a message? You can do it here!</p>
	<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xgerdyvv" method="POST"
	 enctype="multipart/form-data">
		<fieldset id="fs-frm-inputs">
			<label for="name"
        >Name
        <input
          type="text"
          name="Name"
          id="name"
          placeholder="DillonB07"
          required
      /></label>
      <label for="email"
        >Email Address
        <input
          type="email"
          name="Email"
          id="email"
          placeholder="dillon@example.com"
      /></label>
        <input
          type="hidden"
          name="_Subject"
          id="_subject"
          value="Dizzle - Question Suggestion"
      />
      <label for="question"
        >Question<br />
        <textarea
          rows="1"
          name="Question"
          id="question"
          placeholder="Question..."
          required
        ></textarea>
      </label>
        <label for="answer"
        >Answer<br />
        <textarea
          rows="1"
          name="Answer"
          id="answer"
          placeholder="Answer..."
          required
        ></textarea>
      </label>
      <p>Are you a robot?</p>
      <div
        id="captcha"
        class="g-recaptcha"
        data-sitekey="6Le2GK8cAAAAAMIP_3bsciz36pJ-rFNZi1Q9XeUN"
      ></div>
    </fieldset>
    <br />
    <input id="submit" type="submit" value="Submit" />
  </form>
</div>
<div class="container">
  <a class="button" href="/">Back</a>
</div>
{% endblock %}